.text-center{
    text-align: center;
    padding: 1.3rem;
}

.mb-1{
    margin-bottom: 1.1rem;
}
.mx-auto{
    margin: auto;
}

.h-200{
    height: 200px;
}
.hover-whitespace:hover{
    color: whitespace;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.text-red-400{
    color: rgb(231, 57, 57);
}

.text-gray-400{
    color: rgb(141, 130, 130);
}

.px-8{
    padding-left: 1.8rem;
}
.p-auto{
    padding: auto;
    margin: 2rem;
}