<mat-card>
    <mat-card-header> 
        <h1>Modification du utilisateur</h1>
    </mat-card-header>

    <mat-card-content>
        <form class="example-form" [formGroup]="editForm" (ngSubmit)="updateUser()">
            
            <mat-form-field class="example-full-width">
                  <mat-select  formControlName="role">
                    <mat-option *ngFor="let item of roleList" [value]="item.code">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <div>
                <mat-checkbox formControlName="isActive" class="example-margin"> Activer </mat-checkbox>
            </div>
            <div>
                <button mat-raised-button color="primary"> Modifier  </button>
                <button mat-dialog-close mat-raised-button color="accent"> fermer  </button>
            </div>
    
        </form>

    </mat-card-content>
</mat-card>
  

  