.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-card {
    max-width: 600px;
    margin: 120px auto;
  }
  .example-button-row {
     display: flex;
     justify-content: flex-end;
  }