<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <mat-card class="example-card">
            <form class="example-form" (ngSubmit)="proceedRegistration()">
                <div class="m-3">
                    <h1 class="text-center text-warning "> Inscription d'utilisateur</h1>
                </div>
                
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom : </mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Prenom : </mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Adresse physique : </mat-label>
                        <input  matInput >
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                        <mat-label>Adresse email </mat-label>
                        <input type="email" matInput >
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                        <mat-label>Mot de passe</mat-label>
                        <input type="password" matInput >
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Confirmation de mot de passe</mat-label>
                        <input type="password"  matInput >
                    </mat-form-field>
        
                    <div>
                        <mat-radio-group    aria-label="gender">
                            <mat-radio-button value="Homme">Homme </mat-radio-button>
                            <mat-radio-button value="Femme">Femme </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </mat-card-content>
                <mat-card-actions class="example-button-row">
                    <button mat-raised-button color="primary"> Enregister </button>
                    <!-- <a routerLink="/login" mat-raised-button color="accent"> Retour au connexion </a> -->
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>